<mat-spinner *ngIf="!ready"></mat-spinner>
<div *ngIf="ready && users.length === 0" class="mat-display-1">No users found</div>
<button mat-fab color="primary" class="bottom-right" routerLink="/user-create">
    <mat-icon>add</mat-icon>
</button>
<mat-action-list *ngIf="ready">
    <mat-list-item *ngFor="let user of users">
        <div matLine class="width">{{user.email}} ({{user.role}})</div>
        <button mat-raised-button color="primary" routerLink="/user-modify/{{user.id}}">Modify</button>
        <span class="spacer"></span>
        <button mat-raised-button color="warn" (click)="remove(user.id)">Remove</button>
    </mat-list-item>
</mat-action-list>
