<mat-card>
    <mat-card-title align="center">Log In</mat-card-title>
    <mat-card-content>
        <form [formGroup]="form">
            <br>
            <mat-form-field appearance="fill" color="primary" class="width">
                <mat-label>Email</mat-label>
                <input matInput type="email" name="email" [formControl]="email">
                <mat-error *ngIf="email.errors?.required">
                    email is required
                </mat-error>
                <mat-error *ngIf="email.errors?.email">
                    email is invalid
                </mat-error>
            </mat-form-field>
            <br>
            <mat-form-field appearance="fill" color="primary" class="width">
                <mat-label>Password</mat-label>
                <input matInput type="password" name="password" [formControl]="password">
                <mat-error *ngIf="password.errors?.required">
                    password is required
                </mat-error>
                <mat-error *ngIf="password.errors?.minlength">
                    password length must not be less than 8
                </mat-error>
                <mat-error *ngIf="password.errors?.maxlength">
                    password length must not be more than 50
                </mat-error>
            </mat-form-field>
            <br>
            <button mat-raised-button color="primary" class="width"
                    [disabled]="!form.valid" (click)="logIn()">
                Log In
            </button>
            <mat-error *ngIf="serverError">
                <br>
                {{serverErrorMessage}}
            </mat-error>
        </form>
    </mat-card-content>
</mat-card>
