<div class="mat-h1 center">Create Contact</div>
<form [formGroup]="form">
    <br>
    <mat-form-field appearance="fill" color="primary" class="width">
        <mat-label>Value</mat-label>
        <input matInput type="text" name="value" [formControl]="value">
        <mat-error *ngIf="value.errors?.required">
            value is required
        </mat-error>
        <mat-error *ngIf="value.errors?.minlength">
            value length must not be less than 1
        </mat-error>
        <mat-error *ngIf="value.errors?.maxlength">
            value length must not be more than 1000
        </mat-error>
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill" color="primary" class="width">
        <mat-label>Type</mat-label>
        <mat-select [formControl]="type">
            <mat-option *ngFor="let letType of types" [value]="letType">
                {{letType}}
            </mat-option>
        </mat-select>
        <mat-error *ngIf="type.errors?.required">
            type is required
        </mat-error>
    </mat-form-field>
    <br>
    <button mat-raised-button color="primary" class="width" [disabled]="!form.valid" (click)="create()">
        Create
    </button>
    <mat-error *ngIf="serverError">
        <br>
        {{serverErrorMessage}}
    </mat-error>
</form>

