<mat-spinner *ngIf="!ready"></mat-spinner>
<div *ngIf="ready && skills.length === 0" class="mat-display-1">No skills found</div>
<button mat-fab color="primary" class="bottom-right" routerLink="/skill-create">
    <mat-icon>add</mat-icon>
</button>
<mat-action-list *ngIf="ready">
    <mat-list-item *ngFor="let skill of skills">
        <div matLine class="width">{{skill.name}}</div>
        <button mat-raised-button color="primary" routerLink="/skill-modify/{{skill.id}}">Modify</button>
        <span class="spacer"></span>
        <button mat-raised-button color="warn" (click)="remove(skill.id)">Remove</button>
    </mat-list-item>
</mat-action-list>
