<mat-spinner *ngIf="!ready"></mat-spinner>
<div *ngIf="ready && languages.length === 0" class="mat-display-1">No languages found</div>
<button mat-fab color="primary" class="bottom-right" routerLink="/language-create">
    <mat-icon>add</mat-icon>
</button>
<mat-action-list *ngIf="ready">
    <mat-list-item *ngFor="let language of languages">
        <div matLine class="width">{{language.name}}</div>
        <button mat-raised-button color="primary" routerLink="/language-modify/{{language.id}}">Modify</button>
        <span class="spacer"></span>
        <button mat-raised-button color="warn" (click)="remove(language.id)">Remove</button>
    </mat-list-item>
</mat-action-list>
