<div class="overflow">
    <div style="display: flex; justify-content: center; padding-top: 10mm">
        <button mat-raised-button style="width: 30mm" (click)="print()">Print</button>
    </div>
    <div id="resume">
        <!DOCTYPE html>
        <html lang="en">
        <head><title>Resume</title></head>
        <body style="margin: 0mm;">
        <div class="a4" style="width:210mm;height:297mm;">
            <div style="width:100%;height:100%;display:flex;
        font-family: Roboto, 'Helvetica Neue', sans-serif;font-weight: 500;">
                <div style="display:flex;width:30%;height:100%;background:#000000;">
                    <div style="color: #FFFFFF;padding: 4mm">
                        <div style="font-size: 6.5mm;font-weight: 1000;">Contacts</div>
                        <div style="margin: 4mm"></div>
                        <div style="font-size: 4mm;font-weight: 1000;">Address</div>
                        <div style="margin: 2mm"></div>
                        <div style="font-size: 3.5mm;"
                             *ngFor="let contact of getContacts('ADDRESS')">{{contact.value}}</div>
                        <div style="margin: 4mm"></div>
                        <div style="font-size: 4mm;font-weight: 1000;">Email</div>
                        <div style="margin: 2mm"></div>
                        <div style="font-size: 3.5mm;"
                             *ngFor="let contact of getContacts('EMAIL')">{{contact.value}}</div>
                        <div style="margin: 4mm"></div>
                        <div style="font-size: 4mm;font-weight: 1000;">Phone</div>
                        <div style="margin: 2mm"></div>
                        <div style="font-size: 3.5mm;"
                             *ngFor="let contact of getContacts('PHONE')">{{contact.value}}</div>
                        <div style="margin: 8mm"></div>
                        <div style="font-size: 6.5mm;font-weight: 1000;">Skills</div>
                        <div style="margin: 4mm"></div>
                        <div *ngFor="let skill of data.skills | keyvalue">{{skill.key.name}} ({{skill.value}})</div>
                        <div style="margin: 8mm"></div>
                        <div style="font-size: 6.5mm;font-weight: 1000;">Languages</div>
                        <div style="margin: 4mm"></div>
                        <div *ngFor="let language of data.languages | keyvalue">{{language.key.name}}
                            ({{language.value}})
                        </div>
                        <div style="margin: 4mm"></div>
                    </div>
                </div>
                <div style="display:flex;flex-direction:column;width:70%;">
                    <div style="color: #FFFFFF;background:#55ddff;padding: 4mm">
                        <div style="font-size: 6.5mm;font-weight: 1000;">{{data.name}}</div>
                        <div style="margin: 2mm"></div>
                        <div style="font-size: 3.5mm;font-weight: 1000;">{{data.position.name}}</div>
                        <div style="margin: 4mm"></div>
                        <div style="font-size: 3.5mm;font-weight: 500;">{{data.about}}</div>
                    </div>
                    <div style="color: #555555;background:#FFFFFF;padding: 4mm">
                        <div style="font-size: 4mm;font-weight: 1000;">Experience</div>
                        <div style="margin: 4mm"></div>
                        <div *ngFor="let exp of data.experience">
                            <div style="font-size: 6.5mm;font-weight: 1000; color: #55ddff; display: flex">
                                <div style="width: 2mm; height: 2mm; margin: 2.25mm; background: #555555"></div>
                                {{exp.position.name}}
                            </div>
                            <div style="font-size: 3.5mm;font-weight: 1000;margin-left: 6.5mm">{{exp.company.name}}</div>
                            <div style="font-size: 3.5mm;font-weight: 500;margin-left: 6.5mm">
                                {{exp.start}} - {{exp.stop || 'Till Now'}}
                            </div>
                            <div style="margin: 2mm"></div>
                            <div *ngFor="let point of exp.points" style="font-size: 3.5mm;font-weight: 500;margin-left: 6.5mm">
                                - {{point.content}}
                            </div>
                            <div style="margin: 2mm"></div>
                        </div>
                        <div style="margin: 4mm"></div>
                        <div style="font-size: 4mm;font-weight: 1000;">Education</div>
                        <div style="margin: 4mm"></div>
                        <div *ngFor="let edu of data.education">
                            <div style="font-size: 6.5mm;font-weight: 1000; color: #55ddff; display: flex">
                                <div style="width: 2mm; height: 2mm; margin: 2.25mm; background: #555555"></div>
                                {{edu.specialty.name}}
                            </div>
                            <div style="font-size: 3.5mm;font-weight: 1000;margin-left: 6.5mm">{{edu.institution.name}}</div>
                            <div style="font-size: 3.5mm;font-weight: 500;margin-left: 6.5mm">
                                {{edu.start}} - {{edu.stop || 'Till Now'}}
                            </div>
                            <div style="margin: 2mm"></div>
                            <div *ngFor="let point of edu.points" style="font-size: 3.5mm;font-weight: 500;margin-left: 6.5mm">
                                - {{point.content}}
                            </div>
                            <div style="margin: 2mm"></div>
                        </div>
                        <div style="margin: 4mm"></div>
                        <div style="margin: 4mm"></div>
                        <div *ngFor="let add of data.additional">
                            <div style="font-size: 4mm;font-weight: 1000;">{{add.name}}</div>
                            <div style="margin: 2mm"></div>
                            <div *ngFor="let point of add.points" style="font-size: 3.5mm;font-weight: 500;margin-left: 6.5mm">
                                - {{point.content}}
                            </div>
                            <div style="margin: 4mm"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </body>
        </html>
    </div>
</div>
