<div class="mat-h1 center">Set Profile Experience Position</div>
<form [formGroup]="form">
    <br>
    <mat-form-field appearance="fill" color="primary" class="width">
        <mat-label>Position</mat-label>
        <mat-select [formControl]="position">
            <mat-option *ngFor="let letPosition of positions" [value]="letPosition">
                {{letPosition.name}}
            </mat-option>
        </mat-select>
        <mat-error *ngIf="position.errors?.required">
            position is required
        </mat-error>
    </mat-form-field>
    <br>
    <button mat-raised-button color="primary" class="width" [disabled]="!form.valid" (click)="set()">
        Set
    </button>
    <mat-error *ngIf="serverError">
        <br>
        {{serverErrorMessage}}
    </mat-error>
</form>

