<div class="mat-h1 center">Set Profile Education Institution</div>
<form [formGroup]="form">
    <br>
    <mat-form-field appearance="fill" color="primary" class="width">
        <mat-label>Institution</mat-label>
        <mat-select [formControl]="institution">
            <mat-option *ngFor="let letInstitution of institutions" [value]="letInstitution">
                {{letInstitution.name}}
            </mat-option>
        </mat-select>
        <mat-error *ngIf="institution.errors?.required">
            institution is required
        </mat-error>
    </mat-form-field>
    <br>
    <button mat-raised-button color="primary" class="width" [disabled]="!form.valid" (click)="set()">
        Set
    </button>
    <mat-error *ngIf="serverError">
        <br>
        {{serverErrorMessage}}
    </mat-error>
</form>

