<mat-toolbar color="primary">
    <button mat-raised-button routerLink="/">Home</button>
    <button *ngIf="security.isAuthorized()" mat-button routerLink="/profile-modify/{{security.getId()}}">Profile</button>
    <span class="spacer"></span>
    <button *ngIf="security.isAdmin()" mat-button routerLink="/user-list">Users</button>
    <button *ngIf="security.isAdmin()" mat-button routerLink="/profile-list">Profiles</button>
    <button *ngIf="security.isAdmin()" mat-button routerLink="/position-list">Positions</button>
    <button *ngIf="security.isAdmin()" mat-button routerLink="/company-list">Companies</button>
    <button *ngIf="security.isAdmin()" mat-button routerLink="/specialty-list">Specialties</button>
    <button *ngIf="security.isAdmin()" mat-button routerLink="/institution-list">Institutions</button>
    <button *ngIf="security.isAdmin()" mat-button routerLink="/skill-list">Skills</button>
    <button *ngIf="security.isAdmin()" mat-button routerLink="/language-list">Languages</button>
    <button *ngIf="!security.isAuthorized()" mat-raised-button routerLink="/log-in">Log In</button>
    <button *ngIf="security.isAuthorized()" mat-raised-button (click)="logOut()">Log Out</button>
</mat-toolbar>
