<div class="mat-h1 center">Are you sure?</div>
<button mat-raised-button [mat-dialog-close]="true" class="width" color="primary">Yes</button>
<span class="spacer"></span>
<button mat-raised-button [mat-dialog-close]="false" class="width">No</button>
