.width {
    width: 40rem;
}

.bottom-right {
    position: fixed;
    right: 1rem;
    bottom: 5rem;
}

.spacer {
    margin-left: 0.7rem;
}

.form-width {
    width: 20rem;
}

.gap {
    margin-top: 5rem;
}

.flex {
    display: flex;
}

.status {
    padding: 1rem;
    width: 30rem;
}

.padding {
    padding: 10px;
}

.center {
    display: flex;
    justify-content: center;
}

.full-width {
    width: 100%;
}
