<button mat-fab color="primary" class="bottom-right" (click)="create()">
    <mat-icon>add</mat-icon>
</button>
<mat-accordion>
    <mat-expansion-panel expanded="false">
        <mat-expansion-panel-header>
            <mat-panel-title class="width">Search</mat-panel-title>
        </mat-expansion-panel-header>
        <div>
            <div class="flex">
                <div class="status">
                    <mat-chip-list>
                        <span class="padding">Positions:</span>
                        <mat-chip *ngFor="let pos of selectedPositions"
                                  [removable]="true" (removed)="removePosition(pos)">
                            {{pos.name}}
                            <mat-icon matChipRemove>cancel</mat-icon>
                        </mat-chip>
                    </mat-chip-list>
                </div>
                <form [formGroup]="positionForm">
                    <mat-form-field appearance="fill" color="primary" class="form-width">
                        <mat-label>Position</mat-label>
                        <mat-select [formControl]="position">
                            <mat-option *ngFor="let letPosition of positions" [value]="letPosition">
                                {{letPosition.name}}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="position.errors?.required">
                            position is required
                        </mat-error>
                    </mat-form-field>
                    <br>
                    <button mat-raised-button color="primary" [disabled]="!positionForm.valid" (click)="addPosition()">
                        Add
                    </button>
                </form>
            </div>
            <br>
            <br>
            <div class="flex">
                <div class="status">
                    <mat-chip-list>
                        <span class="padding">Specialties:</span>
                        <mat-chip *ngFor="let spc of selectedSpecialties"
                                  [removable]="true" (removed)="removeSpecialty(spc)">
                            {{spc.name}}
                            <mat-icon matChipRemove>cancel</mat-icon>
                        </mat-chip>
                    </mat-chip-list>
                </div>
                <form [formGroup]="specialtyForm">
                    <mat-form-field appearance="fill" color="primary" class="form-width">
                        <mat-label>specialty</mat-label>
                        <mat-select [formControl]="specialty">
                            <mat-option *ngFor="let letSpecialty of specialties" [value]="letSpecialty">
                                {{letSpecialty.name}}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="specialty.errors?.required">
                            specialty is required
                        </mat-error>
                    </mat-form-field>
                    <br>
                    <button mat-raised-button color="primary" [disabled]="!specialtyForm.valid"
                            (click)="addSpecialty()">
                        Add
                    </button>
                </form>
            </div>
            <br>
            <br>
            <div class="flex">
                <div class="status">
                    <mat-chip-list>
                        <span class="padding">Skills:</span>
                        <mat-chip *ngFor="let skl of selectedSkills"
                                  [removable]="true" (removed)="removeSkill(skl)">
                            {{skl.skill.name}} ({{skl.skillLevel}})
                            <mat-icon matChipRemove>cancel</mat-icon>
                        </mat-chip>
                    </mat-chip-list>
                </div>
                <form [formGroup]="skillForm">
                    <mat-form-field appearance="fill" color="primary" class="form-width">
                        <mat-label>skill</mat-label>
                        <mat-select [formControl]="skill">
                            <mat-option *ngFor="let letSkill of skills" [value]="letSkill">
                                {{letSkill.name}}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="skill.errors?.required">
                            skill is required
                        </mat-error>
                    </mat-form-field>
                    <br>
                    <mat-form-field appearance="fill" color="primary" class="form-width">
                        <mat-label>skill level</mat-label>
                        <mat-select [formControl]="skillLevel">
                            <mat-option *ngFor="let letSkillLevel of skillLevels" [value]="letSkillLevel">
                                {{letSkillLevel}}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="skill.errors?.required">
                            skill level is required
                        </mat-error>
                    </mat-form-field>
                    <br>
                    <button mat-raised-button color="primary" [disabled]="!skillForm.valid" (click)="addSkill()">
                        Add
                    </button>
                </form>
            </div>
            <br>
            <br>
            <div class="flex">
                <div class="status">
                    <mat-chip-list>
                        <span class="padding">Languages:</span>
                        <mat-chip *ngFor="let lng of selectedLanguages"
                                  [removable]="true" (removed)="removeLanguage(lng)">
                            {{lng.language.name}} ({{lng.languageLevel}})
                            <mat-icon matChipRemove>cancel</mat-icon>
                        </mat-chip>
                    </mat-chip-list>
                </div>
                <form [formGroup]="languageForm">
                    <mat-form-field appearance="fill" color="primary" class="form-width">
                        <mat-label>language</mat-label>
                        <mat-select [formControl]="language">
                            <mat-option *ngFor="let letLanguage of languages" [value]="letLanguage">
                                {{letLanguage.name}}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="language.errors?.required">
                            language is required
                        </mat-error>
                    </mat-form-field>
                    <br>
                    <mat-form-field appearance="fill" color="primary" class="form-width">
                        <mat-label>language level</mat-label>
                        <mat-select [formControl]="languageLevel">
                            <mat-option *ngFor="let letLanguageLevel of languageLevels" [value]="letLanguageLevel">
                                {{letLanguageLevel}}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="language.errors?.required">
                            language level is required
                        </mat-error>
                    </mat-form-field>
                    <br>
                    <button mat-raised-button color="primary" [disabled]="!languageForm.valid" (click)="addLanguage()">
                        Add
                    </button>
                </form>
            </div>
            <br>
            <div class="center">
                <button mat-raised-button color="primary" class="full-width" (click)="find()">
                    Find
                </button>
            </div>
        </div>
    </mat-expansion-panel>
</mat-accordion>
<div class="gap"></div>
<div class="center">
<mat-spinner *ngIf="!ready"></mat-spinner>
</div>
<div *ngIf="ready && profiles.length === 0" class="mat-display-1 center">No profiles found</div>
<mat-action-list *ngIf="ready">
    <mat-list-item *ngFor="let profile of profiles">
        <div matLine class="width">{{profile.name}}</div>
        <button mat-raised-button color="primary" routerLink="/profile-modify/{{profile.id}}">Modify</button>
        <span class="spacer"></span>
        <button mat-raised-button color="warn" (click)="remove(profile.id)">Remove</button>
    </mat-list-item>
</mat-action-list>
