<mat-spinner *ngIf="!ready && !noProfile"></mat-spinner>
<button *ngIf="noProfile" mat-raised-button color="primary" (click)="createProfile()">
    Create Profile
</button>
<mat-accordion multi *ngIf="ready && !noProfile">
    <button mat-fab color="primary" class="bottom-right" (click)="show()">
        <mat-icon>description</mat-icon>
    </button>
    <mat-expansion-panel expanded="false">
        <mat-expansion-panel-header>
            <mat-panel-title class="width">Summary</mat-panel-title>
        </mat-expansion-panel-header>
        <form [formGroup]="summaryForm">
            <mat-form-field appearance="fill" color="primary" class="form-width">
                <mat-label>Name</mat-label>
                <input matInput type="text" name="profileName" [formControl]="name">
                <mat-error *ngIf="name.errors?.required">
                    name is required
                </mat-error>
                <mat-error *ngIf="name.errors?.minlength">
                    name length must not be less than 1
                </mat-error>
                <mat-error *ngIf="name.errors?.maxlength">
                    name length must not be more than 1000
                </mat-error>
            </mat-form-field>
            <br>
            <mat-form-field appearance="fill" color="primary" class="width">
                <mat-label>About</mat-label>
                <textarea matInput type="text" name="profileAbout" [formControl]="about"></textarea>
                <mat-error *ngIf="about.errors?.required">
                    about is required
                </mat-error>
                <mat-error *ngIf="about.errors?.minlength">
                    about length must not be less than 1
                </mat-error>
                <mat-error *ngIf="about.errors?.maxlength">
                    about length must not be more than 1000
                </mat-error>
            </mat-form-field>
            <br>
            <button mat-raised-button color="primary" [disabled]="!summaryForm.valid" (click)="modifySummary()">
                Modify
            </button>
            <mat-error *ngIf="summaryServerError">
                <br>
                {{summaryServerErrorMessage}}
            </mat-error>
        </form>
    </mat-expansion-panel>
    <mat-expansion-panel expanded="false">
        <mat-expansion-panel-header>
            <mat-panel-title class="width">Position</mat-panel-title>
        </mat-expansion-panel-header>
        <form [formGroup]="positionForm">
            <mat-form-field appearance="fill" color="primary" class="form-width">
                <mat-label>Position</mat-label>
                <mat-select [formControl]="position">
                    <mat-option *ngFor="let letPosition of positions" [value]="letPosition">
                        {{letPosition.name}}
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="position.errors?.required">
                    position is required
                </mat-error>
            </mat-form-field>
            <br>
            <button mat-raised-button color="primary" [disabled]="!positionForm.valid" (click)="modifyPosition()">
                Modify
            </button>
            <mat-error *ngIf="positionServerError">
                <br>
                {{positionServerErrorMessage}}
            </mat-error>
        </form>
    </mat-expansion-panel>
    <mat-expansion-panel expanded="false">
        <mat-expansion-panel-header>
            <mat-panel-title class="width">Contacts</mat-panel-title>
        </mat-expansion-panel-header>
        <mat-action-list>
            <mat-list-item *ngFor="let contact of contacts">
                <div matLine>{{contact.value}} ({{contact.type}})</div>
                <button mat-raised-button color="primary" (click)="modifyContact(contact)">Modify</button>
                <span class="spacer"></span>
                <button mat-raised-button color="warn" (click)="removeContact(contact.id)">Remove</button>
            </mat-list-item>
            <br>
            <div class="center">
                <button mat-raised-button color="primary" class="width" (click)="createContact()">
                    <mat-icon>add</mat-icon>
                    Add Contact
                </button>
            </div>
        </mat-action-list>
    </mat-expansion-panel>
    <mat-expansion-panel expanded="false">
        <mat-expansion-panel-header>
            <mat-panel-title class="width">Skills</mat-panel-title>
        </mat-expansion-panel-header>
        <mat-action-list>
            <mat-list-item *ngFor="let profileSkill of profileSkills | keyvalue">
                <div matLine>{{profileSkill.key.name}} ({{profileSkill.value}})</div>
                <button mat-raised-button color="primary"
                        (click)="modifyProfileSkill(profileSkill.key, profileSkill.value)">Modify
                </button>
                <span class="spacer"></span>
                <button mat-raised-button color="warn" (click)="removeProfileSkill(profileSkill.key.id)">Remove</button>
                <br>
            </mat-list-item>
            <br>
            <div class="center">
                <button mat-raised-button color="primary" class="width" (click)="addProfileSkill()">
                    <mat-icon>add</mat-icon>
                    Add Skill
                </button>
            </div>
        </mat-action-list>
    </mat-expansion-panel>
    <mat-expansion-panel expanded="false">
        <mat-expansion-panel-header>
            <mat-panel-title class="width">Languages</mat-panel-title>
        </mat-expansion-panel-header>
        <mat-action-list>
            <mat-list-item *ngFor="let profileLanguage of profileLanguages | keyvalue">
                <div matLine>{{profileLanguage.key.name}} ({{profileLanguage.value}})</div>
                <button mat-raised-button color="primary"
                        (click)="modifyProfileLanguage(profileLanguage.key.id, profileLanguage.value)">Modify
                </button>
                <span class="spacer"></span>
                <button mat-raised-button color="warn" (click)="removeProfileLanguage(profileLanguage.key.id)">Remove
                </button>
            </mat-list-item>
            <br>
            <div class="center">
                <button mat-raised-button color="primary" class="width" (click)="addProfileLanguage()">
                    <mat-icon>add</mat-icon>
                    Add Language
                </button>
            </div>
        </mat-action-list>
    </mat-expansion-panel>
    <mat-expansion-panel expanded="false">
        <mat-expansion-panel-header>
            <mat-panel-title class="width">Experience</mat-panel-title>
        </mat-expansion-panel-header>
        <mat-action-list>
            <div *ngFor="let letExperience of experience">
                <mat-list-item>
                    <div matLine>
                        {{letExperience.start | date}} -
                        {{letExperience.stop !== null ? (letExperience.stop | date) : 'Till Now'}}
                    </div>
                    <button mat-raised-button color="primary"
                            (click)="modifyExperience(letExperience.id, letExperience.start, letExperience.stop)">Modify
                    </button>
                    <span class="spacer"></span>
                    <button mat-raised-button color="warn" (click)="removeExperience(letExperience.id)">Remove</button>
                </mat-list-item>
                <mat-list-item>
                    <div matLine>
                        <span class="tab1"></span>
                        Position: {{letExperience.position?.name || 'NONE'}}
                    </div>
                    <button mat-raised-button color="primary"
                            (click)="setExperiencePosition(letExperience.id, letExperience.position?.id || 'none')">
                        Set
                    </button>
                </mat-list-item>
                <mat-list-item>
                    <div matLine>
                        <span class="tab1"></span>
                        Company: {{letExperience.company?.name || 'NONE'}}
                    </div>
                    <button mat-raised-button color="primary"
                            (click)="setExperienceCompany(letExperience.id, letExperience.company?.id || 'none')">
                        Set
                    </button>
                </mat-list-item>
                <mat-list-item>
                    <div matLine>
                        <span class="tab1"></span>
                        Points:
                    </div>
                    <button mat-raised-button color="primary" (click)="addExperiencePoint(letExperience.id)">
                        Add
                    </button>
                </mat-list-item>
                <mat-list-item *ngFor="let letPoint of letExperience.points">
                    <div matLine class="text-width">
                        <span class="tab2"></span>
                        - {{letPoint.content}}
                    </div>
                    <button mat-raised-button color="primary"
                            (click)="modifyExperiencePoint(letExperience.id, letPoint)">Modify
                    </button>
                    <span class="spacer"></span>
                    <button mat-raised-button color="warn"
                            (click)="removeExperiencePoint(letExperience.id, letPoint.id)">Remove
                    </button>
                </mat-list-item>
                <br>
            </div>
            <div class="center">
                <button mat-raised-button color="primary" class="width" (click)="addExperience()">
                    <mat-icon>add</mat-icon>
                    Add Experience
                </button>
            </div>
        </mat-action-list>
    </mat-expansion-panel>
    <mat-expansion-panel expanded="false">
        <mat-expansion-panel-header>
            <mat-panel-title class="width">Education</mat-panel-title>
        </mat-expansion-panel-header>
        <mat-action-list>
            <div *ngFor="let letEducation of education">
                <mat-list-item>
                    <div matLine>
                        {{letEducation.start | date}} -
                        {{letEducation.stop !== null ? (letEducation.stop | date) : 'Till Now'}}
                    </div>
                    <button mat-raised-button color="primary"
                            (click)="modifyEducation(letEducation.id, letEducation.start, letEducation.stop)">Modify
                    </button>
                    <span class="spacer"></span>
                    <button mat-raised-button color="warn" (click)="removeEducation(letEducation.id)">Remove</button>
                </mat-list-item>
                <mat-list-item>
                    <div matLine>
                        <span class="tab1"></span>
                        Specialty: {{letEducation.specialty?.name || 'NONE'}}
                    </div>
                    <button mat-raised-button color="primary"
                            (click)="setEducationSpecialty(letEducation.id, letEducation.specialty?.id || 'none')">
                        Set
                    </button>
                </mat-list-item>
                <mat-list-item>
                    <div matLine>
                        <span class="tab1"></span>
                        Institution: {{letEducation.institution?.name || 'NONE'}}
                    </div>
                    <button mat-raised-button color="primary"
                            (click)="setEducationInstitution(letEducation.id, letEducation.institution?.id || 'none')">
                        Set
                    </button>
                </mat-list-item>
                <mat-list-item>
                    <div matLine>
                        <span class="tab1"></span>
                        Points:
                    </div>
                    <button mat-raised-button color="primary" (click)="addEducationPoint(letEducation.id)">
                        Add
                    </button>
                </mat-list-item>
                <mat-list-item *ngFor="let letPoint of letEducation.points">
                    <div matLine class="text-width">
                        <span class="tab2"></span>
                        - {{letPoint.content}}
                    </div>
                    <button mat-raised-button color="primary"
                            (click)="modifyEducationPoint(letEducation.id, letPoint)">Modify
                    </button>
                    <span class="spacer"></span>
                    <button mat-raised-button color="warn"
                            (click)="removeEducationPoint(letEducation.id, letPoint.id)">Remove
                    </button>
                </mat-list-item>
                <br>
            </div>
            <div class="center">
                <button mat-raised-button color="primary" class="width" (click)="addEducation()">
                    <mat-icon>add</mat-icon>
                    Add Education
                </button>
            </div>
        </mat-action-list>
    </mat-expansion-panel>
    <mat-expansion-panel expanded="false">
        <mat-expansion-panel-header>
            <mat-panel-title class="width">Additional</mat-panel-title>
        </mat-expansion-panel-header>
        <mat-action-list>
            <div *ngFor="let letAdditional of additional">
                <mat-list-item>
                    <div matLine>
                        {{letAdditional.name}}
                    </div>
                    <button mat-raised-button color="primary"
                            (click)="modifyAdditional(letAdditional.id, letAdditional.name)">Modify
                    </button>
                    <span class="spacer"></span>
                    <button mat-raised-button color="warn" (click)="removeAdditional(letAdditional.id)">Remove</button>
                </mat-list-item>
                <mat-list-item>
                    <div matLine>
                        <span class="tab1"></span>
                        Points:
                    </div>
                    <button mat-raised-button color="primary" (click)="addAdditionalPoint(letAdditional.id)">
                        Add
                    </button>
                </mat-list-item>
                <mat-list-item *ngFor="let letPoint of letAdditional.points">
                    <div matLine class="text-width">
                        <span class="tab2"></span>
                        - {{letPoint.content}}
                    </div>
                    <button mat-raised-button color="primary"
                            (click)="modifyAdditionalPoint(letAdditional.id, letPoint)">Modify
                    </button>
                    <span class="spacer"></span>
                    <button mat-raised-button color="warn"
                            (click)="removeAdditionalPoint(letAdditional.id, letPoint.id)">Remove
                    </button>
                </mat-list-item>
                <br>
            </div>
            <div class="center">
                <button mat-raised-button color="primary" class="width" (click)="addAdditional()">
                    <mat-icon>add</mat-icon>
                    Add Additional
                </button>
            </div>
        </mat-action-list>
    </mat-expansion-panel>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title class="width">Settings</mat-panel-title>
        </mat-expansion-panel-header>
        <div class="center">
            <button mat-raised-button color="warn" class="width" (click)="removeProfile()">
                Remove Profile
            </button>
        </div>
    </mat-expansion-panel>
</mat-accordion>
