.width {
    width: 40rem;
}

.text-width {
    width: 28rem;
}

.form-width {
    width: 20rem;
}

.center {
    display: flex;
    justify-content: center;
}

.spacer {
    margin-left: 0.7rem;
}

.tab1 {
    margin-left: 3rem;
}

.tab2 {
    margin-left: 6rem;
}

.bottom-right {
    position: fixed;
    right: 1rem;
    bottom: 5rem;
}
