<mat-spinner *ngIf="!ready"></mat-spinner>
<div *ngIf="ready && institutions.length === 0" class="mat-display-1">No institutions found</div>
<button mat-fab color="primary" class="bottom-right" routerLink="/institution-create">
    <mat-icon>add</mat-icon>
</button>
<mat-action-list *ngIf="ready">
    <mat-list-item *ngFor="let institution of institutions">
        <div matLine class="width">{{institution.name}}</div>
        <button mat-raised-button color="primary" routerLink="/institution-modify/{{institution.id}}">Modify</button>
        <span class="spacer"></span>
        <button mat-raised-button color="warn" (click)="remove(institution.id)">Remove</button>
    </mat-list-item>
</mat-action-list>
