<div class="mat-h1 center">Modify Education</div>
<form [formGroup]="form">
    <br>
    <mat-form-field appearance="fill" color="primary" class="width">
        <mat-label>Start date</mat-label>
        <input matInput [matDatepicker]="starPicker" [formControl]="start">
        <mat-datepicker-toggle matSuffix [for]="starPicker"></mat-datepicker-toggle>
        <mat-datepicker #starPicker></mat-datepicker>
        <mat-error *ngIf="start.errors?.required">
            start date is required
        </mat-error>
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill" color="primary" class="width">
        <mat-label>Stop date</mat-label>
        <input matInput [matDatepicker]="stopPicker" [formControl]="stop">
        <mat-datepicker-toggle matSuffix [for]="stopPicker"></mat-datepicker-toggle>
        <mat-datepicker #stopPicker></mat-datepicker>
        <mat-hint>empty for "till now"</mat-hint>
    </mat-form-field>
    <br>
    <br>
    <button mat-raised-button color="primary" class="width" [disabled]="!form.valid" (click)="modify()">
        Modify
    </button>
    <mat-error *ngIf="serverError">
        <br>
        {{serverErrorMessage}}
    </mat-error>
</form>
