<div class="mat-h1 center">Add Profile Experience Point</div>
<form [formGroup]="form">
    <br>
    <mat-form-field appearance="fill" color="primary" class="width">
        <mat-label>Content</mat-label>
        <input matInput type="text" name="content" [formControl]="content">
        <mat-error *ngIf="content.errors?.required">
            content is required
        </mat-error>
        <mat-error *ngIf="content.errors?.minlength">
            content length must not be less than 1
        </mat-error>
        <mat-error *ngIf="content.errors?.maxlength">
            content length must not be more than 1000
        </mat-error>
    </mat-form-field>
    <br>
    <button mat-raised-button color="primary" class="width" [disabled]="!form.valid" (click)="create()">
        Create
    </button>
    <mat-error *ngIf="serverError">
        <br>
        {{serverErrorMessage}}
    </mat-error>
</form>
