<div class="mat-h1 center">Add Profile Experience Point</div>
<form [formGroup]="form">
    <br>
    <mat-form-field appearance="fill" color="primary" class="width">
        <mat-label>Content</mat-label>
        <input matInput type="text" name="name" [formControl]="name">
        <mat-error *ngIf="name.errors?.required">
            name is required
        </mat-error>
        <mat-error *ngIf="name.errors?.minlength">
            name length must not be less than 1
        </mat-error>
        <mat-error *ngIf="name.errors?.maxlength">
            name length must not be more than 1000
        </mat-error>
    </mat-form-field>
    <br>
    <button mat-raised-button color="primary" class="width" [disabled]="!form.valid" (click)="modify()">
        Modify
    </button>
    <mat-error *ngIf="serverError">
        <br>
        {{serverErrorMessage}}
    </mat-error>
</form>
