<div class="mat-h1 center">Add Profile Language</div>
<form [formGroup]="form">
    <br>
    <mat-form-field appearance="fill" color="primary" class="width">
        <mat-label>Language</mat-label>
        <mat-select [formControl]="language">
            <mat-option *ngFor="let letLanguage of languages" [value]="letLanguage">
                {{letLanguage.name}}
            </mat-option>
        </mat-select>
        <mat-error *ngIf="language.errors?.required">
            language is required
        </mat-error>
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill" color="primary" class="width">
        <mat-label>Level</mat-label>
        <mat-select [formControl]="level">
            <mat-option *ngFor="let letLevel of levels" [value]="letLevel">
                {{letLevel}}
            </mat-option>
        </mat-select>
        <mat-error *ngIf="level.errors?.required">
            level is required
        </mat-error>
    </mat-form-field>
    <br>
    <button mat-raised-button color="primary" class="width" [disabled]="!form.valid" (click)="add()">
        Add
    </button>
    <mat-error *ngIf="serverError">
        <br>
        {{serverErrorMessage}}
    </mat-error>
</form>

