<mat-spinner *ngIf="!ready"></mat-spinner>
<div *ngIf="ready && specialties.length === 0" class="mat-display-1">No specialties found</div>
<button mat-fab color="primary" class="bottom-right" routerLink="/specialty-create">
    <mat-icon>add</mat-icon>
</button>
<mat-action-list *ngIf="ready">
    <mat-list-item *ngFor="let specialty of specialties">
        <div matLine class="width">{{specialty.name}}</div>
        <button mat-raised-button color="primary" routerLink="/specialty-modify/{{specialty.id}}">Modify</button>
        <span class="spacer"></span>
        <button mat-raised-button color="warn" (click)="remove(specialty.id)">Remove</button>
    </mat-list-item>
</mat-action-list>
