<mat-spinner *ngIf="!ready"></mat-spinner>
<div *ngIf="ready && users.length === 0" class="mat-display-1">No users found</div>
<div class="mat-h1 center">Create profile for user</div>
<form [formGroup]="form">
    <br>
    <mat-form-field appearance="fill" color="primary" class="width">
        <mat-label>User</mat-label>
        <mat-select [formControl]="user">
            <mat-option *ngFor="let letUser of users" [value]="letUser">
                {{letUser.email}}
            </mat-option>
        </mat-select>
        <mat-error *ngIf="user.errors?.required">
            user is required
        </mat-error>
    </mat-form-field>
    <br>
    <button mat-raised-button class="button-width" [mat-dialog-close]="null">
        Cancel
    </button>
    <span class="spacer"></span>
    <button mat-raised-button color="primary" class="button-width"
            [disabled]="!form.valid" [mat-dialog-close]="user.value">
        Create
    </button>
</form>
