<mat-card>
    <mat-card-title align="center">Modify User</mat-card-title>
    <mat-card-content>
        <form [formGroup]="form">
            <br>
            <mat-form-field appearance="fill" color="primary" class="width">
                <mat-label>Email</mat-label>
                <input matInput type="email" name="email" [formControl]="email">
                <mat-error *ngIf="email.errors?.required">
                    email is required
                </mat-error>
                <mat-error *ngIf="email.errors?.email">
                    email is invalid
                </mat-error>
            </mat-form-field>
            <br>
            <mat-form-field appearance="fill" color="primary" class="width">
                <mat-label>Password</mat-label>
                <input matInput type="password" name="password" [formControl]="password">
                <mat-error *ngIf="password.errors?.required">
                    password is required
                </mat-error>
                <mat-error *ngIf="password.errors?.minlength">
                    password length must not be less than 8
                </mat-error>
                <mat-error *ngIf="password.errors?.maxlength">
                    password length must not be more than 50
                </mat-error>
            </mat-form-field>
            <br>
            <mat-form-field appearance="fill" color="primary" class="width">
                <mat-label>Password Confirmation</mat-label>
                <input matInput type="password" name="passwordConfirmation" [formControl]="passwordConfirmation">
                <mat-error *ngIf="passwordConfirmation.errors?.required">
                    password confirmation repeat is required
                </mat-error>
                <mat-error *ngIf="passwordConfirmation.errors?.minlength">
                    password length must not be less than 8
                </mat-error>
                <mat-error *ngIf="passwordConfirmation.errors?.maxlength">
                    password length must not be more than 50
                </mat-error>
            </mat-form-field>
            <br>
            <mat-form-field appearance="fill" color="primary" class="width">
                <mat-label>Role</mat-label>
                <mat-select [formControl]="role">
                    <mat-option *ngFor="let roleName of roles" [value]="roleName">
                        {{roleName}}
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="role.errors?.required">
                    role is required
                </mat-error>
            </mat-form-field>
            <br>
            <button mat-raised-button color="primary" class="width"
                    [disabled]="!form.valid || !passwordConfirmed()" (click)="modify()">
                Modify
            </button>
            <mat-error *ngIf="serverError">
                <br>
                {{serverErrorMessage}}
            </mat-error>
            <mat-error *ngIf="password.touched && passwordConfirmation.touched && !passwordConfirmed()">
                <br>
                password is not confirmed
            </mat-error>
        </form>
    </mat-card-content>
</mat-card>
