<mat-spinner *ngIf="!ready"></mat-spinner>
<div *ngIf="ready && positions.length === 0" class="mat-display-1">No positions found</div>
<button mat-fab color="primary" class="bottom-right" routerLink="/position-create">
    <mat-icon>add</mat-icon>
</button>
<mat-action-list *ngIf="ready">
    <mat-list-item *ngFor="let position of positions">
        <div matLine class="width">{{position.name}}</div>
        <button mat-raised-button color="primary" routerLink="/position-modify/{{position.id}}">Modify</button>
        <span class="spacer"></span>
        <button mat-raised-button color="warn" (click)="remove(position.id)">Remove</button>
    </mat-list-item>
</mat-action-list>
