<mat-spinner *ngIf="!ready"></mat-spinner>
<div *ngIf="ready && companies.length === 0" class="mat-display-1">No companies found</div>
<button mat-fab color="primary" class="bottom-right" routerLink="/company-create">
    <mat-icon>add</mat-icon>
</button>
<mat-action-list *ngIf="ready">
    <mat-list-item *ngFor="let company of companies">
        <div matLine class="width">{{company.name}}</div>
        <button mat-raised-button color="primary" routerLink="/company-modify/{{company.id}}">Modify</button>
        <span class="spacer"></span>
        <button mat-raised-button color="warn" (click)="remove(company.id)">Remove</button>
    </mat-list-item>
</mat-action-list>
