<div class="mat-h1 center">Set Profile Experience Company</div>
<form [formGroup]="form">
    <br>
    <mat-form-field appearance="fill" color="primary" class="width">
        <mat-label>Company</mat-label>
        <mat-select [formControl]="company">
            <mat-option *ngFor="let letCompany of companies" [value]="letCompany">
                {{letCompany.name}}
            </mat-option>
        </mat-select>
        <mat-error *ngIf="company.errors?.required">
            company is required
        </mat-error>
    </mat-form-field>
    <br>
    <button mat-raised-button color="primary" class="width" [disabled]="!form.valid" (click)="set()">
        Set
    </button>
    <mat-error *ngIf="serverError">
        <br>
        {{serverErrorMessage}}
    </mat-error>
</form>

